ip routing
!
lldp run
!
vlan 100
  name Servers1
!
interface Ethernet1
  description P2P Link to Spine-1
  logging event link-status
  no switchport
  ip address 172.16.0.6/30
  arp timeout 900
  mtu 9214
  no shutdown
!
interface Ethernet2
  description P2P Link to Spine-2
  logging event link-status
  no switchport
  ip address 172.16.0.14/30
  arp timeout 900
  mtu 9214
  no shutdown
!
interface loopback0
  ip address 192.168.0.4/32
!
interface Ethernet9
  switchport access vlan 100
  no snmp trap link-status
  spanning-tree portfast
  spanning-tree bpduguard enable
  no shutdown
!
interface Vlan100
  description Servers1
  mtu 9214
  ip address 10.2.100.1/24
  arp timeout 900
  no shutdown
!
route-map ROUTE-MAP-OUT permit 10
match ip address prefix-list PREFIX-LIST-OUT
!
ip prefix-list PREFIX-LIST-OUT seq 10 permit 192.168.0.4/32
ip prefix-list PREFIX-LIST-OUT seq 20 permit 172.16.0.0/16
ip prefix-list PREFIX-LIST-OUT seq 30 permit 10.2.100.0/24
!
router bgp 65100
  bgp log-neighbor-changes
  distance bgp 20 200 200
  maximum-paths 4 ecmp 4
  neighbor EBGP-TO-SPINE peer-group
  neighbor EBGP-TO-SPINE remote-as 65000
  neighbor EBGP-TO-SPINE maximum-routes 12000
  neighbor EBGP-TO-SPINE allowas-in 1
  neighbor 172.16.0.5 peer-group EBGP-TO-SPINE
  neighbor 172.16.0.13 peer-group EBGP-TO-SPINE
  network 192.168.0.4/32
  redistribute connected
!
end