ip routing
!
lldp run
!
interface Ethernet1
  description P2P Link to Leaf-1
  logging event link-status
  no switchport
  ip address 172.16.0.1/30
  arp timeout 900
  no shutdown
!
interface Ethernet2
  description P2P Link to Leaf-2
  logging event link-status
  no switchport
  ip address 172.16.0.5/30
  arp timeout 900
  no shutdown
!
interface loopback0
  ip address 192.168.0.1/32
!
router bgp 65000
  bgp log-neighbor-changes
  distance bgp 20 200 200
  maximum-paths 4 ecmp 64
  neighbor EBGP-TO-LEAF peer-group
  neighbor EBGP-TO-LEAF remote-as 65100
  neighbor EBGP-TO-LEAF maximum-routes 12000
  neighbor 172.16.0.2 peer-group EBGP-TO-LEAF
  neighbor 172.16.0.6 peer-group EBGP-TO-LEAF
  network 192.168.0.1/32
  !
end